<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hina.crewforge.mapper.TenantMapper">

    <select id="list" resultType="com.hina.crewforge.pojo.entity.Tenant">
        SELECT id, name, owner_id, contact, description, status, invitation_code, members, max_members, create_time, update_time
        FROM sys_tenant
        WHERE deleted = 0
        <if test="param.tenantName != null and param.tenantName != ''">
            AND name LIKE CONCAT('%', #{param.tenantName}, '%')
        </if>
        <if test="tenantIds != null and tenantIds.size() > 0">
            AND id IN
            <foreach collection="tenantIds" item="tid" open="(" separator="," close=")">
                #{tid}
            </foreach>
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>
